.product-popover-template {
    position: absolute;
    height: 420px;
    width: 420px;
    background: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);

    @media (max-width: 768px) {
        top: 55px;
    }
}

.modal-body {
    min-height: 450px;

    @media (min-width: 375px) and (max-width: 768px) {
        min-height: 630px;
    }
}

.details {

    &.lap {
        display: block;
    
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.tab {
        display: none;
    
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.header {
    position: absolute;
    left: 55%;
    
    @media (max-width: 768px) {
        left: 3.25%
    }
}

.description {
    position: relative;
    left: 55%;
    top: 40px;
}

.social-media-close {
    display: none;

    @media (min-width: 769px) {
        font-size: 40px;
        position: relative;
        left: 30px;
        display: block;
    
        &.open {
            transform: rotate(45deg);
            left: 34px;
            position: absolute;
        }        
    }
}

.close-button {
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    transform: rotate(45deg);
}

.social-media {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 22px;
    top: 70px;
    width: 40px;
    height: 40px;
    text-align: center;

    @media (min-width: 375px) and (max-width: 769px) {
        top: 20px
    }
}

.size-circle {
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: 36px;
    position: relative;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;

    &.selected {
        color: white;
        background-color: gray;
    }
}

.star-rating {
    font-size: 20px;
    color: rgba(174, 179, 195, 1);

    &.filled {
        color: rgba(255, 188, 31, 1);

    }
}

