.product-popover-template {
    position: absolute;
    height: 420px;
    width: 420px;
    background: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);

    @media (min-width: 376px) and (max-width: 768px) {
        top: 55px;
    }

    @media (max-width: 376px) {
        top: 120px;
        height: 375px;
        width: 325px;
    }
}

.modal-body {
    min-height: 450px;

    @media (min-width: 375px) and (max-width: 768px) {
        min-height: 630px;
    }

    @media (max-width: 376px) {
        min-height: 950px;
    }
}

.details {

    &.lap {
        display: block;
    
        @media (min-width: 376px) and (max-width: 768px) {
            display: none;
        }

        @media (max-width: 376px) {
            position: relative !important;
            top: 400px;
            right: 178px;
            padding-right: 0 !important;
        }
    }

    &.tab {
        display: none;
    
        @media (min-width: 376px) and (max-width: 768px) {
            display: block;
        }
    }
}

.header {
    position: absolute;
    left: 55%;
    
    @media (min-width: 376px) and (max-width: 768px) {
        left: 15px;
    }

    @media (max-width: 376px) {
        left: 15px;
        top: 50px;   
    }
}

.description {
    position: relative;
    left: 55%;
    top: 40px;
}

.social-media-close {
    display: none;

    @media (min-width: 769px) {
        font-size: 40px;
        position: relative;
        left: 30px;
        display: block;
    
        &.open {
            transform: rotate(45deg);
            left: 34px;
            position: absolute;
        }        
    }
}

.close-button {
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 30px;
    font-weight: 400;
    transform: rotate(45deg);
}

.social-media {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 22px;
    top: 70px;

    @media (min-width: 375px) and (max-width: 769px) {
        top: 20px
    }

    @media (max-width: 375px) {
        display: inline-block;
        top: 530px;
        margin-left: 10px;
        left: 30px;
    }
}

.size-circle {
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: 36px;
    position: relative;
    margin-left: 10px;

    &.selected {
        color: white;
        background-color: gray;
    }

    @media (max-width: 376px) {
        right: 20px;
        margin: 10px 0px 20px 40px;
    }
}

.star-rating {
    font-size: 20px;
    color: rgba(174, 179, 195, 1);

    &.filled {
        color: rgba(255, 188, 31, 1);

    }
}

.rating {

    @media (max-width: 376px) {
        position: absolute;
        top: 25px;
        left: 35px;
    }
}

.pricing-small {
    
    @media (max-width: 376px) {
        top: 650px !important;
        right: 100px !important;
    }
}

.size-cart {

    @media (max-width: 376px) {
        position: relative;
        top: 500px;
        right: 178px;
        text-align: center;
    }
}